##### Folders and Subfolders to exclude #####
#############################################
Library
Build
Documentation
Temp


# File Extensions to exclude #
##############################
*.csproj
*.sln
*.suo